@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

$cardcolor:cyan;
$cardHovercolor:rgb(99, 238, 238);
$myFont: 'Pacifico', cursive;
$fontcolor:rgb(4, 23, 24);


.wrapper{
    margin:10px 10px 10px 10px;
    text-align: center;
    font-family: $myFont;
    color: $fontcolor;
    width:100%;
    .card{
        background:$cardcolor;
        padding:20px 25px;
        border-radius: 10px;
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(179, 176, 176, 0.19), 0 6px 6px rgba(180, 179, 179, 0.23);
        &:hover{
            background:$cardHovercolor;
        }
    }
}